<div class="cart__item cart__item-bundle" data-key="{{ product.key }}">
  {%- assign img_url = product | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
  <div class="cart__image">
    <a href="{{ product.url }}" style="height: 0; padding-bottom: {{ 100 | divided_by: product.image.aspect_ratio }}%;">
      <img class="lazyload"
           data-src="{{ img_url }}"
           data-widths="[180, 360, 540]"
           data-aspectratio="{{ product.aspect_ratio }}"
           data-sizes="auto"
           alt="{{ product.product.title | escape }}">
    </a>
  </div>
  <div class="cart__item-details">
    <div class="cart__item-title">
      <a href="{{ product.url }}" class="cart__item-name">
        {{ product.product.title }}
      </a>
      {%- unless product.product.has_only_default_variant -%}
        <div class="cart__item--variants">
          {%- for option in product.options_with_values -%}
            <div>{{ option.value }} | {{ product.quantity }} stk.</div>
          {%- endfor -%}
        </div>
      {%- endunless -%}
      {%- if product.selling_plan_allocation != empty -%}
        <div class="cart__item--variants">
          {{ product.selling_plan_allocation.selling_plan.name }}
        </div>
      {%- endif -%}
      {%- assign property_size = product.properties | size -%}
      {% if property_size > 0 %}
        {% for p in product.properties %}
          {%- assign first_character_in_key = p.first | truncate: 1, '' -%}
          {% unless p.last == blank or first_character_in_key == '_' %}
            <div>
              {{ p.first }}:
              {% if p.last contains '/uploads/' %}
                <a href="{{ p.last }}">{{ p.last | split: '/' | last }}</a>
              {% else %}
                {{ p.last }}
              {% endif %}
            </div>
          {% endunless %}
        {% endfor %}
      {% endif %}

    </div>
    <div class="cart__item-sub">
      <div>
        {%- capture updateURL -%}
          cart/update?
          {%- for subproduct in cart.items -%}
            {%- for p in subproduct.properties -%}
              {%- if p.first == "_partOf" -%}
                {%- assign partOfID = p.last | plus: 0 -%}
                {%- if partOfID == product.id -%}
                  updates[{{ subproduct.key }}]=0&
                {%- endif -%}
              {%- endif -%}
            {%- endfor -%}
          {%- endfor -%}
          updates[{{ product.key }}]=0&
        {%- endcapture -%}

        <div class="cart__remove">
          <a href="{{ routes.cart_change_url }}?id={{ product.key }}&amp;quantity=0" class="btn btn--secondary btn--small small--hide">
            <span class="cross">✕</span> {{ 'cart.general.remove' | t }}
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
