{%- for block in section.blocks -%}
  {%- if block.type == 'logo' -%}
    {%- liquid
      assign has_logo = true
      assign header_logo_size = block.settings.desktop_logo_width | append: 'x'
      assign header_logo_size_mobile = block.settings.mobile_logo_width | append: 'x'
    -%}

    {%- style -%}
    .header-item--logo,
    [data-layout="left-center"] .header-item--logo,
    [data-layout="left-center"] .header-item--icons {
      flex: 0 1 {{ block.settings.mobile_logo_width }}px;
    }

    @media only screen and (min-width: 769px) {
      .header-item--logo,
      [data-layout="left-center"] .header-item--logo,
      [data-layout="left-center"] .header-item--icons {
        flex: 0 0 {{ block.settings.desktop_logo_width }}px;
      }
    }

    .site-header__logo a {
      width: {{ block.settings.mobile_logo_width }}px;
    }
    .is-light .site-header__logo .logo--inverted {
      width: {{ block.settings.mobile_logo_width }}px;
    }
    @media only screen and (min-width: 769px) {
      .site-header__logo a {
        width: {{ block.settings.desktop_logo_width }}px;
      }

      .is-light .site-header__logo .logo--inverted {
        width: {{ block.settings.desktop_logo_width }}px;
      }
    }
    {%- endstyle -%}

    {%- if template == 'index' -%}
      <h1 class="site-header__logo" {{ block.shopify_attributes }}>
    {%- else -%}
      <div class="h1 site-header__logo" {{ block.shopify_attributes }}>
    {%- endif -%}

    {%- if block.settings.logo -%}
      <span class="visually-hidden">{{ shop.name }}</span>
      <a
        href="{{ routes.root_url }}"
        class="site-header__logo-link">
        {%- render 'header-logo-svg' -%}
      </a>
    {%- else -%}
      <a href="{{ routes.root_url }}">{{ shop.name }}</a>
    {%- endif -%}
    {%- if template == 'index' -%}
      </h1>
    {%- else -%}
      </div>
    {%- endif -%}

  {%- endif -%}
{%- endfor -%}

{%- unless has_logo -%}
  {%- style -%}
    /* prevent text-only logo from breaking mobile nav */
    .header-item--logo {
      max-width: 60%;
    }
  {%- endstyle -%}
  {%- if template == 'index' -%}
    <h1 class="site-header__logo">
  {%- else -%}
    <div class="h1 site-header__logo">
  {%- endif -%}
  <a href="{{ routes.root_url }}" class="site-header__logo-link">
    {{ shop.name }}
  </a>
  {%- if template == 'index' -%}
    </h1>
  {%- else -%}
    </div>
  {%- endif -%}
{%- endunless -%}
