<div class="plant-attributes">
  <div class="name-and-family">
    {{ product.metafields.custom.nomenklatur }} - {{ product.metafields.custom.familie }}
  </div>

  <table>
    <tbody>
    <tr>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-03.png?v=1654781123"
             alt="Højde">
        <p>{{ 'products.product.plant_attributes.height' | t: text: product.metafields.custom.hojde }}</p>
      </td>
      <td>
        <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-04.png?v=1654781235"
             alt="Såafstand">
        <p>{{ 'products.product.plant_attributes.distance' | t: text: product.metafields.custom.afstand }}</p>
      </td>
    </tr>
    <tr>
      <td>
        {% if product.metafields.custom.placering contains "friland" %}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-05.png?v=1654867805"
               alt="Friland">
        {% endif %}
        {% if product.metafields.custom.placering contains "drivhus" %}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-06.png?v=1654867819"
               alt="Drivhus">
        {% endif %}
        <p>
          <span>{{ product.metafields.custom.placering }}</span>
        </p>
      </td>
      <td>
        {% if product.metafields.custom.sol contains "sol" %}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-07.png?v=1654867834"
               alt="Fuld sol">
        {% endif %}
        {% if product.metafields.custom.sol contains "halvskygge" %}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-08.png?v=1654867847"
               alt="Halvskygge">
        {% endif %}
        <p>
          <span>{{ product.metafields.custom.sol }}</span>
        </p>
      </td>
    </tr>
    <tr>
      <td colspan="2">
        {%- assign attributeString = "" -%}
        {%- if product.metafields.custom.chili_shu == "0-10K" -%}
          {%- assign string = 'products.product.plant_attributes.shu_1' | t -%}
          {%- assign attributeString = attributeString | append: string | append: '¤' -%}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-16.png?v=1655116965"
               alt="{{ string }}">
        {%- endif -%}
        {%- if product.metafields.custom.chili_shu == "10K-300K" -%}
          {%- assign string = 'products.product.plant_attributes.shu_2' | t -%}
          {%- assign attributeString = attributeString | append: string | append: '¤' -%}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-17.png?v=1655116980"
               alt="{{ string }}">
        {%- endif -%}
        {%- if product.metafields.custom.chili_shu == "300K+" -%}
          {%- assign string = 'products.product.plant_attributes.shu_3' | t -%}
          {%- assign attributeString = attributeString | append: string | append: '¤' -%}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-18.png?v=1655117000"
               alt="{{ string }}">
        {%- endif -%}
        {%- if product.metafields.custom.kr_ver_lys_for_at_spire -%}
          {%- assign string = 'products.product.plant_attributes.germination_light' | t -%}
          {%- assign attributeString = attributeString | append: string | append: '¤' -%}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-10.png?v=1655116910"
               alt="{{ string }}">
        {%- endif -%}
        {%- if product.metafields.custom.velegnet_til_krukker -%}
          {%- assign string = 'products.product.plant_attributes.suited_for_pots' | t -%}
          {%- assign attributeString = attributeString | append: string | append: '¤' -%}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-09.png?v=1655116931"
               alt="{{ string }}">
        {%- endif -%}
        {%- if product.metafields.custom.kraever_stotte -%}
          {%- assign string = 'products.product.plant_attributes.needs_support' | t -%}
          {%- assign attributeString = attributeString | append: string | append: '¤' -%}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-11.png?v=1655116872"
               alt="{{ string }}">
        {%- endif -%}
        {%- if product.metafields.custom.spiselige_blomster -%}
          {%- assign string = 'products.product.plant_attributes.edible_flowers' | t -%}
          {%- assign attributeString = attributeString | append: string | append: '¤' -%}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-12.png?v=1655116894"
               alt="{{ string }}">
        {%- endif -%}
        {%- if product.metafields.custom.insektvenlig -%}
          {%- assign string = 'products.product.plant_attributes.good_for_pollinators' | t -%}
          {%- assign attributeString = attributeString | append: string | append: '¤' -%}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-14.png?v=1654867890"
               alt="{{ string }}">
        {%- endif -%}
        {%- if product.metafields.custom.velduftende_blomster -%}
          {%- assign string = 'products.product.plant_attributes.aromatic' | t -%}
          {%- assign attributeString = attributeString | append: string | append: '¤' -%}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-13.png?v=1654867910"
               alt="{{ string }}">
        {%- endif -%}
        {%- if product.metafields.custom.hjemhorende -%}
          {%- assign string = 'products.product.plant_attributes.resident' | t -%}
          {%- assign attributeString = attributeString | append: string | append: '¤' -%}
          <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Ikoner_Opsaetning-15.png?v=1654867928"
               alt="{{ string }}">
        {%- endif -%}
        <p>
          <span class="attribute-string">
            {% liquid
              assign words = attributeString | split: ' '
              capture capitalizedAttributeString
                echo words | first | capitalize | append: ' '
                for word in words offset: 1
                  echo word | append: ' '
                endfor
              endcapture

              assign stringEnd = capitalizedAttributeString.size | minus: 2
              assign attributeStrings = capitalizedAttributeString | slice: 0, stringEnd | split: '¤'
              assign lastCommaIndex = attributeStrings.size | minus: 2
              capture finalAttributeString
                for string in attributeStrings
                  echo string
                  if forloop.index0 < lastCommaIndex
                    echo ', '
                  elsif forloop.last
                    echo '.'
                  else
                    echo ' og '
                  endif
                endfor
              endcapture
            -%}
            {{ finalAttributeString}}
          </span>
        </p>
      </td>
    </tr>
    </tbody>
  </table>

  <div class="calendar">
    <img src="{{ product.metafields.custom.kalender | img_url: 'master' }}" alt="">
    <span>Vejledende såkalender for {{ product.title }}</span>
  </div>

</div>
