{%- liquid
  assign current_variant = product.selected_or_first_available_variant

  unless thumbnail_position
    assign thumbnail_position = 'beside'
  endunless

  unless description_style
    assign description_style = 'full'
  endunless

  assign product_zoom_size = '1800x1800'
  assign product_image_size = '620x'

  case image_container_width
    when 'small'
      assign product_image_width = 'medium-up--two-fifths'
      assign product_description_width = 'medium-up--three-fifths'
      assign product_image_size = '480x'
    when 'medium'
      assign product_image_width = 'medium-up--one-half'
      assign product_description_width = 'medium-up--one-half'
      assign product_image_size = '620x'
    when 'large'
      assign product_image_width = 'medium-up--three-fifths'
      assign product_description_width = 'medium-up--two-fifths'
      assign product_image_size = '740x'
  endcase

  assign product_img_structure = product.featured_media | img_url: '1x1' | replace: '_1x1.', '_{width}x.'
-%}

<div id="ProductSection-{{ section_id }}"
  class="product-section"
  data-section-id="{{ section_id }}"
  data-section-type="product"
  data-product-handle="{{ product.handle }}"
  data-product-title="{{ product.title | escape }}"
  data-product-url="{{ product.url | within: collection }}"
  data-product-type="bundle"
  data-aspect-ratio="{{ 100 | divided_by: product.featured_media.aspect_ratio }}"
  data-img-url="{{ product_img_structure }}"
  {% if settings.product_zoom_enable %}
    data-image-zoom="true"
  {% endif %}
  {% if settings.inventory_enable %}
    data-inventory="true"
  {% endif %}
  {% if settings.inventory_transfers_enable %}
    data-incoming-inventory="true"
  {% endif %}
  {% unless isModal %}
    data-history="true"
  {% endunless %}
  data-modal="{{ isModal }}">

  {%- render 'product-template-variables', product: product, current_variant: current_variant -%}

  <div class="page-content page-content--product">
    <div class="page-width">

      <div class="grid{% unless image_position == 'left' %} grid--product-images-right{% endunless %}{% if mobile_layout == 'partial' %} grid--product-images--partial{% endif %}">
        {%- if image_position == 'left' -%}
          <div class="grid__item {{ product_image_width }} product-single__sticky">
            {%- render 'product-images',
              section_id: section_id,
              product: product,
              isModal: isModal,
              image_position: image_position,
              product_zoom_size: product_zoom_size,
              product_image_size: product_image_size,
              thumbnail_arrows: thumbnail_arrows,
              thumbnail_position: thumbnail_position,
              video_looping: video_looping,
              video_style: video_style
            -%}
          </div>
        {%- endif -%}

        <div class="grid__item {{ product_description_width }}">

          <div class="product-single__meta">
            {%- if settings.show_breadcrumbs and isModal != true -%}
              {%- render 'breadcrumbs' -%}
            {%- endif -%}

            {% comment %} --------------------------------------- {% endcomment %}
            {% comment %} 
              test1=agurk-marketmore/31932804071508:majs-golden-bantam/31932826157140:log-stuttgart/31932826026068,test2=agurk-marketmore/31932804104276:majs-golden-bantam/31932826189908:log-stuttgart/31932826058836 
            {% endcomment %}
            {%- liquid
              paginate collections.all-products.products by 1000
                assign bundleVariants = product.metafields.bundle.bundleData | split: ','
                assign bundleVariantCount = bundleVariants.size
                assign bvMaxIndex = bundleVariantCount | minus: 1

                comment
                 create empty arrays 
                endcomment 
                assign bundleVariantNames = "" | split: '¤'
                assign bundleVariantIDs = "" | split: '¤'
                comment
                 properties that are a sum of the childrens property 
                endcomment 
                assign bundleVariantPrices = "" | split: '¤'
                assign bundleVariantAvailability = "" | split: '¤'
                assign bundleVariantHideOrganicLogo = "" | split: '¤'
                assign bundleVariantHideDemeterLogo = "" | split: '¤'
                comment
                 list of lists (list of strings seperated by '§') that contain the data for each child 
                endcomment 
                assign bundleVariantProductTitles  = "" | split: '¤'
                assign bundleVariantProductPrices  = "" | split: '¤'
                assign bundleVariantProductAvailability  = "" | split: '¤'
                assign bundleVariantProductURLs  = "" | split: '¤'

                for bundleVariant in bundleVariants
                  assign bundleVariantParts = bundleVariant | split:'='
                  comment
                   preserve name as array of one element so it can be concatenated to bundleVariantNames 
                  endcomment 
                  assign name = bundleVariantParts | slice: 0, 1
                  assign productIdentifiers = bundleVariantParts | last | split: ':'
                  assign bundleVariantNames = bundleVariantNames | concat: name
                  comment
                   check that metafield bundle variant names and actual bundle variant names match up 
                  endcomment 
                  for v in product.variants
                    if v.title == name[0]
                      assign id = v.id | string | split: '¤'
                      assign bundleVariantIDs = bundleVariantIDs | concat: id
                      break
                    endif
                  endfor

                  assign bundleVariantPrice = 0
                  assign bundleVariantProductIDList = ""
                  assign bundleVariantProductTitleList = ""
                  assign bundleVariantProductPriceList = ""
                  assign bundleVariantProductAvailabilityList = ""
                  assign bundleVariantProductURLsList = ""


                  assign bundleVariantAvailable = "true"
                  assign bundleVariantOrganicLogoSingleton = "false"
                  assign bundleVariantDemeterLogoSingleton = "true"
                  for productIdentifier in productIdentifiers
                    assign productHandle = productIdentifier | split: '/' | first
                    assign variantID     = productIdentifier | split: '/' | last | plus: 0
                    for item in collections.all-products.products
                      if item.handle == productHandle
                        for productVariant in item.variants
                          if productVariant.id == variantID
                            assign bundleVariantPrice = bundleVariantPrice | plus: productVariant.price
                            assign bundleVariantProductIDList = bundleVariantProductIDList | append: productVariant.id | append: '§'
                            if productVariant.title == 'Default Title'
                              assign bundleVariantProductTitleList = bundleVariantProductTitleList | append: item.title | append: '§'
                            else
                              assign bundleVariantProductTitleList = bundleVariantProductTitleList | append: item.title | append: " (" | append: productVariant.title | append: ')§'
                            endif
                            assign bundleVariantProductPriceList = bundleVariantProductPriceList | append: productVariant.price | append: '§'
                            assign bundleVariantProductURLsList   = bundleVariantProductURLsList   | append: productVariant.url | append: '§'

                            if productVariant.available == false
                              assign bundleVariantAvailable = "false"
                              assign bundleVariantProductAvailabilityList = bundleVariantProductAvailabilityList | append: 'false§'
                            else
                              assign bundleVariantProductAvailabilityList = bundleVariantProductAvailabilityList | append: 'true§'
                            endif

                            comment
                              If any product in the variant is Ø or D, show the Ø logo
                            endcomment
                            if productVariant.sku contains '-Ø-'
                              assign bundleVariantOrganicLogoSingleton = "true"
                            endif
                            if productVariant.sku contains '-D-'
                              assign bundleVariantOrganicLogoSingleton = "true"
                            endif

                            comment
                              If any product in the variant is NOT D, hide the D logo
                            endcomment
                            unless productVariant.sku contains '-D-'
                              assign bundleVariantDemeterLogoSingleton = "false"
                            endunless

                            break
                          endif
                        endfor
                        break
                      endif
                    endfor
                  endfor
                  comment
                   turn variables into arrays of length 1 to be able to concat to other array 
                  endcomment 
                  assign bundleVariantPriceSingleton     = bundleVariantPrice                     | string | split: '¤'
                  assign bundleVariantAvailableSingleton = bundleVariantAvailable                          | split: '¤'
                  assign bundleVariantOrganicLogoSingleton = bundleVariantOrganicLogoSingleton     | split: '¤'
                  assign bundleVariantDemeterLogoSingleton = bundleVariantDemeterLogoSingleton     | split: '¤'

                  assign bundleVariantProductIDsSingleton           = bundleVariantProductIDList           | split: '¤'
                  assign bundleVariantProductTitlesSingleton        = bundleVariantProductTitleList        | split: '¤'
                  assign bundleVariantProductPricesSingleton        = bundleVariantProductPriceList        | split: '¤'
                  assign bundleVariantProductAvailabilitysSingleton = bundleVariantProductAvailabilityList | split: '¤'
                  assign bundleVariantProductURLsSingleton          = bundleVariantProductURLsList         | split: '¤'

                  assign bundleVariantPrices       = bundleVariantPrices             | concat: bundleVariantPriceSingleton
                  assign bundleVariantAvailability = bundleVariantAvailability       | concat: bundleVariantAvailableSingleton
                  assign bundleVariantOrganicLogo = bundleVariantOrganicLogo | concat: bundleVariantOrganicLogoSingleton
                  assign bundleVariantDemeterLogo = bundleVariantDemeterLogo | concat: bundleVariantDemeterLogoSingleton

                  assign bundleVariantProductIDs           = bundleVariantProductIDs          | concat: bundleVariantProductIDsSingleton
                  assign bundleVariantProductTitles        = bundleVariantProductTitles       | concat: bundleVariantProductTitlesSingleton
                  assign bundleVariantProductPrices        = bundleVariantProductPrices       | concat: bundleVariantProductPricesSingleton
                  assign bundleVariantProductAvailability  = bundleVariantProductAvailability | concat: bundleVariantProductAvailabilitysSingleton
                  assign bundleVariantProductURLs          = bundleVariantProductURLs         | concat: bundleVariantProductURLsSingleton
                endfor

                comment
                 Throw user visible error if metafield and actual bundle variant info does not match 
                endcomment 
                if product.variants.size != bundleVariants.size or bundleVariantIDs.size != bundleVariantNames.size
                  echo '<script>alert("Bundle error! Redirecting you to the front page."); document.location.href="/";</script>'
                endif
              endpaginate
            -%}
            <script type="text/javascript">
              window.bundleData =
              { {%- for name in bundleVariantNames -%}
                '{{ bundleVariantIDs[forloop.index0] }}': {
                  'name': "{{ name }}",
                  'id': {{ bundleVariantIDs[forloop.index0] }},
                  'price': {{ bundleVariantPrices[forloop.index0] }},
                  'available': {{ bundleVariantAvailability[forloop.index0] }},
                  'quality': {
                      'organic': {{ bundleVariantOrganicLogo[forloop.index0] }},
                      'demeter': {{ bundleVariantDemeterLogo[forloop.index0] }}
                  },
                  {% assign productIDs = bundleVariantProductIDs[forloop.index0] | split: '§' %}
                  {%- assign productTitles = bundleVariantProductTitles[forloop.index0] | split: '§' -%}
                  {%- assign productPrices = bundleVariantProductPrices[forloop.index0] | split: '§' -%}
                  {%- assign productAvailability = bundleVariantProductAvailability[forloop.index0] | split: '§' -%}
                  {%- assign productURLs = bundleVariantProductURLs[forloop.index0] | split: '§' -%}
                  'products': [ {%- for productID in productIDs -%}
                    {
                      'id': {{ productID | plus: 0 }},
                      'name': "{{ productTitles[forloop.index0] | escape }}",
                      'price': {{ productPrices[forloop.index0] | plus: 0 }},
                      'available': {{ productAvailability[forloop.index0] }}
                    },
                  {%- endfor -%} ]
                },
              {%- endfor -%} }
            </script>

            {%- for name in bundleVariantNames -%}
              {% if current_variant.title == name %}
                <div class="quality-logos">
                  <img src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/Demeter_480x480.png?v=1591110274"
                       alt="Demeter - biodynamisk certificeret"
                       class="logo-demeter{% if bundleVariantDemeterLogo[forloop.index0] != 'true' %} hide{% endif %}">
                  <img
                      src="https://cdn.shopify.com/s/files/1/0276/3902/1652/files/DK-Oko-uden_tekst_200x200.png?v=1578570873"
                      alt="Statskontrolleret økologiske frø"
                      class="logo-organic {% if bundleVariantOrganicLogo[forloop.index0] != 'true' %} hide{% endif %}">
                </div>
              {%- endif %}
            {%- endfor -%}

            {%- if settings.vendor_enable -%}
              <div class="product-single__vendor">
                {%- assign vendor_handle = product.vendor | handleize -%}
                {%- if collections[vendor_handle] != empty -%}
                  <a href="{{ routes.collections_url }}/{{ collections[vendor_handle].handle }}">
                    {{ collections[vendor_handle].title }}
                  </a>
                {%- else -%}
                  {{ product.vendor | link_to_vendor }}
                {%- endif -%}
              </div>
            {%- endif -%}

            {%- if isModal -%}
              <p class="h2 product-single__title">
                {{ product.title }}
              </p>
            {%- else -%}
              {% assign lines = product.title | split: "'" %}
              <h1 class="h2 product-single__title">
                <span class="primary">{{ lines[0] }}</span>
                <span class="secondary">'{{ lines[1] }}'</span>
              </h1>
            {%- endif -%}

            {%- if settings.enable_product_reviews and settings.reviews_layout == 'full' -%}
              {%- liquid
                if isModal
                  assign review_link = product.url | within: collection | append: '#Reviews-' | append: product.id
                else
                  assign review_link = '#Reviews-' | append: product.id
                endif
              -%}
              <a href="{{ review_link }}" class="product-single__review-link">
                <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
              </a>
            {%- endif -%}

            {%- if settings.sku_enable -%}
              <p id="Sku-{{ section_id }}" class="product-single__sku">
                {%- if current_variant.sku -%}
                  {{ current_variant.sku }}
                {%- endif -%}
              </p>
            {%- endif -%}

            <span id="PriceA11y-{{ section_id }}" class="visually-hidden">{{ 'products.general.regular_price' | t }}</span>

            {%- for name in bundleVariantNames -%}
              {% if current_variant.title == name %}
                <span id="ProductPrice-{{ section_id }}" data-variant-name="{{name}}">
                  {% echo bundleVariantPrices[forloop.index0] | money %}
                </span>
              {%- endif %}
            {%- endfor -%}

            <div class="product__unit-price product__unit-price--spacing product__unit-price-wrapper--{{ section_id }}{% unless current_variant.unit_price_measurement %} hide{% endunless %}">
              {%- capture unit_price_base_unit -%}
                <span class="product__unit-base--{{ section_id }}">
                  {%- if current_variant.unit_price_measurement -%}
                    {%- if current_variant.unit_price_measurement.reference_value != 1 -%}
                      {{ current_variant.unit_price_measurement.reference_value }}
                    {%- endif -%}
                    {{ current_variant.unit_price_measurement.reference_unit }}
                  {%- endif -%}
                </span>
              {%- endcapture -%}

              <span class="product__unit-price--{{ section_id }}">{{ current_variant.unit_price | money }}</span>/{{ unit_price_base_unit }}
            </div>

            {%- if settings.inventory_enable or settings.inventory_transfers_enable -%}
              {%- assign variants_with_inventory_tracking = product.variants | where: 'inventory_management', 'shopify' -%}
              <script>
                window.inventories = window.inventories || {};
                window.inventories['{{ section_id }}'] = {};
                {% for variant in variants_with_inventory_tracking %}
                  window.inventories['{{ section_id }}'][{{ variant.id }}] = {
                    'quantity': {{ variant.inventory_quantity | default: 0 }},
                    'policy': {{ variant.inventory_policy | json }},
                    'incoming': '{{ variant.incoming | default: false }}',
                    'next_incoming_date': {{ variant.next_incoming_date | date: format: 'date' | json }}
                  };
                {% endfor %}
              </script>

              {% comment %}
                If loaded in quick view, it might be from a JS-loaded function
                that loads recommended products. If that's the case, the above
                JS will not set the variant inventory. Add it to an accessible
                data div to read later instead.
              {% endcomment %}
              {%- if isModal -%}
                <div
                  data-section-id="{{ section_id }}"
                  class="hide js-product-inventory-data"
                  aria-hidden="true"
                  >
                  {%- for variant in variants_with_inventory_tracking -%}
                    <div
                      class="js-variant-inventory-data"
                      data-id="{{ variant.id }}"
                      data-quantity="{{ variant.inventory_quantity | default: 0 }}"
                      data-incoming="{{ variant.incoming | default: false | json }}"
                      data-date="{{ variant.next_incoming_date | date: format: 'date' }}">
                    </div>
                  {%- endfor -%}
                </div>
              {%- endif -%}
            {%- endif -%}

            <hr class="hr--medium">

            {%- unless isModal -%}
              {% comment %}
                Shopify's product form attaches a number of tracking
                scripts that cause slower load times and false statistics.
                Quick view modals request these on-demand.
              {% endcomment %}
              {%- render 'product-bundle-form',
                section_id: section_id,
                product: product,
                current_variant: current_variant,
                bundleVariantIDs: bundleVariantIDs,
                bundleVariantAvailability: bundleVariantAvailability
              -%}
            {%- else -%}
              <div
                id="ProductFormHolder-{{ section_id }}"
                class="product-form-holder"
                data-url="{{ product.url }}"
                data-template="{{ product.template_suffix }}">
                  {%- if product.options.size > 0 -%}
                    {%- for i in (1..product.options.size) -%}
                      <div class="placeholder-content" style="min-height: 86px; max-width: 66%;"></div>
                    {%- endfor -%}
                  {%- endif -%}
                  <div class="placeholder-content" style="min-height: 86px;"></div>
                </div>
            {%- endunless -%}

            {%- unless isModal -%}
              {%- if settings.surface_pickup_enable -%}
                <div id="StoreAvailabilityHolder-{{ section_id }}"
                  data-product-name="{{ product.title | escape }}"
                  data-base-url="{{ shop.url }}{{ routes.root_url }}"
                  ></div>
              {%- endif -%}
            {%- endunless -%}

            {%- if settings.trust_image != blank -%}
              <div class="aos-animate trust-image" style="max-width: {{ settings.trust_image.width }}px;">
                <div class="image-wrap " style="height: 0; padding-bottom: {{ 100 | divided_by: settings.trust_image.aspect_ratio }}%;">
                  {%- assign img_url = settings.trust_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}
                  <img class="lazyload"
                      data-src="{{ img_url }}"
                      data-widths="[360, 540, 700, 1024]"
                      data-aspectratio="{{ settings.trust_image.aspect_ratio }}"
                      data-sizes="auto"
                      alt="{{ settings.trust_image.alt }}">
                  <noscript>
                    <img class="lazyloaded" src="{{ settings.trust_image | img_url: '540x' }}" alt="{{ settings.trust_image.alt }}">
                  </noscript>
                </div>
              </div>
            {%- endif -%}

            {%- unless description_style == 'full' -%}
              <div class="product-single__description rte">
                {%- liquid
                  assign firstTag = true
                  assign relevantTags = 'friland, drivhus, fuld sol, halvskygge, vindueskarm, altan/terasse' | split: ', '
                  assign relevantTagsStr = ''

                  for tag in product.tags
                    for relevantTag in relevantTags
                      if tag == relevantTag
                        if firstTag == false
                          assign relevantTagsStr = relevantTagsStr | append: ' / '
                        endif
                        assign relevantTagsStr = relevantTagsStr | append: tag
                        assign firstTag = false
                      endif
                    endfor
                  endfor
                -%}
                <span class="product-single__relevant-tags" >
                  {{ relevantTagsStr }}
                </span>
                {{ product.description }}

                <p class="bundle-product-container-header">
                  <strong>{{ product.title }} indeholder følgende produkter:</strong>
                </p>

                <div class="product-single__bundle_product__container_product hide"></div>

                {%- for name in bundleVariantNames -%}
                  <ol data-variant="{{bundleVariantIDs[forloop.index0]}}" class="bundle-product-list {% if current_variant.title != name %}hide{% endif %}">
                  {%- assign productTitles = bundleVariantProductTitles[forloop.index0] | split: '§' -%}
                  {%- assign productAvailability = bundleVariantProductAvailability[forloop.index0] | split: '§' -%}
                  {%- assign productURLs = bundleVariantProductURLs[forloop.index0] | split: '§' -%}
                  {%- for productTitle in productTitles -%}
                    <li>
                      <a class="product-single__bundle_product {% if productAvailability[forloop.index0] != 'true' %}unavailable{% endif %}"
                        href="https://fantastiskefroe.dk{{ productURLs[forloop.index0] }}"
                        title="{{ productTitle }}"
                        target="_blank">
                        {{ productTitle }}
                      </a>
                    </li>
                  {%- endfor -%}
                  </ol>
                {%- endfor -%}

              </div>

              {%- render 'product-additional-content', product: product, section_id: section_id -%}
            {%- endunless -%}

            {%- if social -%}
              {%- render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product -%}
            {%- endif -%}
          </div>
        </div>

        {%- unless image_position == 'left' -%}
          <div class="grid__item {{ product_image_width }} product-single__sticky">
            {%- render 'product-images',
              section_id: section_id,
              product: product,
              isModal: isModal,
              image_position: image_position,
              product_zoom_size: product_zoom_size,
              product_image_size: product_image_size,
              thumbnail_arrows: thumbnail_arrows,
              thumbnail_position: thumbnail_position,
              video_looping: video_looping,
              video_style: video_style
            -%}
          </div>
        {%- endunless -%}
      </div>

      {%- if description_style == 'full' -%}
        <div class="product-single__description-full rte">
          {{ product.description }}
        </div>

        {%- render 'product-additional-content', product: product, section_id: section_id -%}
      {%- endif -%}
    </div>
  </div>
</div>
